<span class="date-rule form-inline">
  <md-input-container>
    <md-select data-ng-model="rule.subType" class="form-control">
      <!--  Exact -->
      <md-optgroup label="Exact">
        <md-option value="equals">=</md-option>
      </md-optgroup>

      <!-- Unbounded Range Options -->
      <md-optgroup label="Unbounded-range">
        <md-option value="gt">&gt;</md-option>
        <md-option value="gte">&ge;</md-option>
        <md-option value="lt">&lt;</md-option>
        <md-option value="lte">&le;</md-option>
      </md-optgroup>

      <!--  Bounded Range -->
      <md-optgroup label="Bounded-range">
        <md-option value="last">In the last</md-option>
        <md-option value="next">In the next</md-option>
      </md-optgroup>

      <!-- Generic Options -->
      <md-optgroup label="Generic">
        <md-option value="exists">Exists</md-option>
        <md-option value="notExists">! Exists</md-option>
      </md-optgroup>

    </md-select>
  </md-input-container>

  <md-datepicker
    data-ng-if="inputNeeded()"
    data-ng-model="rule.date"
    md-placeholder="Enter date"
    data-ng-required="true"
  ></md-datepicker>

  <md-input-container data-ng-if="inputNeeded()">
    <label>Format</label>
    <md-select data-ng-model="rule.dateFormat" class="form-control">
      <md-option ng-value="format" ng-repeat="format in formats">{{format}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container data-ng-if="numberNeeded()">
    <label>Days</label>
    <input type="number" class="form-control" data-ng-model="rule.value" min=0>
  </md-input-container>
</span>
