<span class="number-rule">
  <md-input-container>
    <md-select data-ng-model="rule.subType" class="form-control">

      <!-- Term Options -->
      <md-optgroup label="Numeral">
        <md-option value="equals">=</md-option>
        <md-option value="gt">&gt;</md-option>
        <md-option value="gte">&ge;</md-option>
        <md-option value="lt">&lt;</md-option>
        <md-option value="lte">&le;</md-option>
      </md-optgroup>

      <!-- Generic Options -->
      <md-optgroup label="Generic">
        <md-option value="exists">Exists</md-option>
        <md-option value="notExists">! Exists</md-option>
      </md-optgroup>

    </md-select>
  </md-input-container>
  <md-input-container>
    <label>Value</label>
    <!-- Range Fields -->
    <input data-ng-if="inputNeeded()"
      class="form-control"
      data-ng-model="rule.value"
      type="number"
      min="{{ guide.minimum }}"
      max="{{ guide.maximum }}">
  </md-input-container>

</span>
