<span class="elastic-term">
  <md-input-container>
    <md-select data-ng-model="rule.subType" class="form-control">

      <!-- Term Options -->
      <md-optgroup label="Text">
        <md-option value="equals">Equals</md-option>
        <md-option value="notEquals">! Equals</md-option>
      </md-optgroup>

      <!-- Generic Options -->
      <md-optgroup label="Generic">
        <md-option value="exists">Exists</md-option>
        <md-option value="notExists">! Exists</md-option>
      </md-optgroup>

    </md-select>
  </md-input-container>
  <md-input-container>
    <label>Value</label>
    <input
      data-ng-if="inputNeeded()"
      class="form-control"
      data-ng-model="rule.value"
      type="text">
  </md-input-container>
</span>
