<div class="elastic-builder">
  <div class="filter-panels">
    <div class="list-group form-inline">
      <div
        data-ng-repeat="filter in filters"
        data-elastic-builder-chooser="filter"
        data-elastic-fields="data.fields"
        data-on-remove="removeChild($index)"
        data-depth="0"></div>
      <div class="list-group-item actions">
        <md-button class="md-icon-button md-accent" aria-label="Add Rule" title="Add Rule" data-ng-click="addRule()">
          <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-accent" aria-label="Add Group" title="Add Group" data-ng-click="addGroup()">
          <md-icon md-font-icon="icon-view-list"></md-icon>
        </md-button>
      </div>
    </div>
  </div>
</div>
