<div class="elastic-builder-rule">
  <md-input-container>
    <label>Field</label>
    <md-select data-ng-model="rule.field" class="form-control">
      <md-option ng-value="key" ng-repeat="(key, value) in elasticFields">{{key}}</md-option>
    </md-select>
  </md-input-container>

  <span data-elastic-type="getType()" data-rule="rule" data-guide="elasticFields[rule.field]"></span>

  <md-button class="md-icon-button md-accent remover" aria-label="Remove" title="Remove" data-ng-click="onRemove()">
    <md-icon md-font-icon="icon-minus"></md-icon>
  </md-button>

</div>
